html,body,#vert-flex-container {
    height: 97.8%;
}

#vert-flex-container {
    display: flex;
    flex-direction: column;
}

#top-flex-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#input {
    /* display: flex; */
    flex-grow: 1;
}

#output {
    overflow-x: hidden;
    overflow-y: auto;
    /* display: flex; */
    /* flex-direction: column; */
}

/* #verbose-wrapper {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: .1em .5em
} */

#mid-padding {
    flex-grow: 1;
    flex-basis: 0;
}