@tailwind base;
@tailwind components;


.inputPost .ouputPost .applyPost {
    font-weight: bold;
}

.input .output {
    font-weight: bolder;
}

.slash {
    color: grey;
    @apply text-gray-600
}

.pattern {
    color: maroon;
    @apply text-red-400;
}

.replacement {
    color: green;
    @apply text-green-500;
}

.newline {
    /* color: grey; */
    opacity: 40%;
    color: white;
}

#input {
    @apply pt-1 pl-2 mt-8 font-mono text-base text-gray-400 bg-gray-700 border-0 rounded-md shadow-xl resize-none backdrop-blur-2xl drop-shadow-md;
}

#vert-flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body {
    height: 100%;
}

@tailwind utilities;
@tailwind variants;